.generic__nav-wrap {
    background-color: #060b26;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.generic__sidebar_burger {
    margin-left: 2rem;
    margin-top: 1rem;
    font-size: 2rem;
    background: none;
    cursor: pointer;
    color: white;
    position: absolute;
}

.generic__nav-menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
}

.generic__nav-menu ul {
    width: 100%;

}

.generic__nav-menu.active {
    left: 0;
    transition: 350ms;
}

.generic__nav-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
    text-align: center;
    text-transform: capitalize;
    cursor: pointer;
    width: 100%;
}

.generic__nav-text p {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.generic__nav-text:hover {
    background-color: #1a83ff;
}

.generic__nav-close {
    background-color: #060b26;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 2rem;
}

.generic__icon {
    cursor: pointer;
    margin-left: 2rem;
}