.cta_wrap {
  height: 85vh;
  width: 100%;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.cta_txt h2 {
  font-weight: 700;
  margin-bottom: 20px;
}

.cta_btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 49px 90px;
  border-radius: 40px;
  margin-top: 80px;

}

.cta_btn:active {
  scale: 0.9;
}