/* HERO STYLES */

.about_hero_wrap {
  max-width: 70vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 85vh;
  margin-bottom: 92.5px;
}

.about_hero_main {
  display: flex;
  padding-bottom: 52px;
}

.about_hero_text {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.about_hero_text h1 {
  letter-spacing: 0.1em;
}

.about_hero_text h3 {
  margin: 32px 0;
}

.about_hero_text h5 {
  text-align: justify;
}

.about_hero_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 52px;
}

.about_hero_img img {
  width: 100%;
  height: auto;
}

.about_hero_cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
}

.about_hero_cta_btn {
  border-radius: 6px;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  padding: 16px 13px;
  cursor: pointer;
}

.about_hero_cta_btn:active {
  scale: 0.9;
}

/* SKILLS STYLES */

.about_skills_wrap {
  display: flex;
  max-width: 75vw;
  margin: auto;
  padding: 64px 0;
}

.about_skills_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 64px;
  border-radius: 48px;
  width: 100%;
}

.about_skills_card:nth-of-type(1) {
  margin-right: 128px;
}

.about_skills_card_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 64px;
  grid-row-gap: 32px;
  padding-bottom: 16px;
  height: 100%;
}

.about_skills_card h3 {
  padding: 16px 0 32px;
}

.about_skills_card_grid_item {
  display: flex;
  flex-direction: column;
}

.about_skills_card_grid_item p:nth-of-type(1) {
  font-weight: 700;
  padding-bottom: 8px;
}

.about_skills_card_grid_item p:nth-of-type(2) {
  text-align: justify;
  line-height: 1.5rem;
}
