/* GENERAL STYLES */

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Montserrat:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
  color: inherit;
}
button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
:root {
  --light-bg: #fafafa;
  --light-var1: #f9f1f0;
  --light-var2: #eaeaea;
  --light-accent: #550055;
  --light-grad: linear-gradient(
    305.88deg,
    #f8b961 32.6%,
    rgba(253, 209, 148, 0.46) 100%
  );
  --light-grad-alt: linear-gradient(
      305.88deg,
      #f8b961 32.6%,
      rgba(253, 209, 148, 0.46) 100%
    ),
    #ffffff;
  --light-font: #000000;
  --dark-bg: #060d0dfa;
  --dark-var1: #1c1f1f;
  --dark-var2: #323737;
  --dark-accent: #d6ad60;
  --dark-grad: linear-gradient(
    102.22deg,
    #140814 7.3%,
    rgba(17, 8, 13, 0.867217) 61.52%,
    rgba(16, 8, 9, 0.800412) 76.53%,
    rgba(27, 18, 6, 0.9) 90.77%
  );
  --dark-font: #ffffff;
}

h1 {
  font-weight: 700;
  font-size: 67.34px;
  letter-spacing: -0.015em;
  font-family: "Comfortaa", cursive;
}

h2 {
  font-weight: 600;
  font-size: 50.52px;
  letter-spacing: -0.015em;
  font-family: "Comfortaa", cursive;
}

h3 {
  font-weight: 500;
  font-size: 37.9px;
  letter-spacing: -0.015em;
  font-family: "Montserrat", sans-serif;
}

h4 {
  font-weight: 500;
  font-size: 28.43px;
  letter-spacing: -0.015em;
  font-family: "Montserrat", sans-serif;
}

h5 {
  font-weight: 500;
  font-size: 21.33px;
  letter-spacing: -0.015em;
  font-family: "Montserrat", sans-serif;
}

p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.015em;
}

/* THEME STYLES:: GENERAL */

body * {
transition: all 1s ease-in-out;
}
body.light {
  background-color: var(--dark-font);
  color: var(--light-font);
}

body.dark {
  background-color: var(--light-font);
  color: var(--dark-font);
}

/* THEME STYLES:: NAVBAR */

body.light .nav_logo a {
  background-image: url('../public/logo_lm.png');
}

body.dark .nav_logo a {
  background-image: url('../public/logo_dm.png');
}

body.light .nav_links a:hover {
  color: var(--dark-accent);
}

body.dark .nav_links a:hover {
  color: var(--light-accent);
}

/* THEME STYLES:: FOOTER */

body.light .footer__icons svg {
  color: var(--light-font);
}

body.light .footer__icons svg:hover,
body.light .footer__links a:hover {
  color: var(--light-accent);
}

body.dark .footer__icons svg {
  color: var(--dark-font);
}

body.dark .footer__icons svg:hover,
body.dark .footer__links a:hover {
  color: var(--dark-accent);
}

/* THEME STYLES:: HOME PAGE */

body.light .home__hero_bg {
  background: var(--light-grad-alt);
}

body.dark .home__hero_bg {
  background: var(--dark-grad);
}

body.light .home__cta {
  background-color: var(--light-accent);
  box-shadow: 0px 0px 20px var(--light-accent);
}

body.dark .home__cta {
  background-color: var(--dark-accent);
  box-shadow: 0px 0px 20px var(--dark-accent);
}

body.light .home__cta a {
  color: var(--dark-font);
}

body.dark .home__cta a {
  color: var(--light-font);
}

body.light .home__card_item {
  background-color: var(--light-var2);
}

body.dark .home__card_item {
  background-color: var(--dark-var2);
}

body.light .home__card_item:nth-of-type(1)::before {
  background: linear-gradient(
    101.56deg,
    #140814 8.34%,
    rgba(17, 8, 13, 0.8672) 59.46%,
    rgba(16, 8, 9, 0.8004) 75.49%,
    rgba(27, 18, 6, 0.9) 91.52%
  );
}


body.dark .home__card_item:nth-of-type(1)::before {
  background: linear-gradient(
    101.56deg,
    #EBF7EB 8.34%,
    rgba(238, 247, 242, 0.8672) 59.46%,
    rgba(239, 247, 246, 0.8004) 75.49%,
    rgba(228, 237, 249, 0.9) 91.52%
  );
}

body.light .home__card_item:nth-of-type(1):hover {
  background: linear-gradient(
    101.56deg,
    #140814 8.34%,
    rgba(17, 8, 13, 0.8672) 59.46%,
    rgba(16, 8, 9, 0.8004) 75.49%,
    rgba(27, 18, 6, 0.9) 91.52%
  );
  color: var(--dark-font);
}

body.dark .home__card_item:nth-of-type(1):hover {
  background: linear-gradient(
    101.56deg,
    #EBF7EB 8.34%,
    rgba(238, 247, 242, 0.8672) 59.46%,
    rgba(239, 247, 246, 0.8004) 75.49%,
    rgba(228, 237, 249, 0.9) 91.52%
  );
  color: var(--light-font);
}

body.light .home__process_bg {
  background-color: var(--light-var1);
}

body.dark .home__process_bg {
  background-color: var(--dark-var1);
}

body.light .home__process_icon {
  background-color: var(--light-font);
  color: var(--dark-font);
}

body.dark .home__process_icon {
  background-color: var(--dark-font);
  color: var(--light-font);
}

body.light .faq_icon {
  color: var(--light-accent);
}

body.dark .faq_icon {
  color: var(--dark-accent);
}

/* THEME STYLES:: TECH SLIDER */

body.light .tech_slider_bg {
  background-color: var(--light-var2);
}

body.dark .tech_slider_bg {
  background-color: var(--dark-var2);
}

/* THEME STYLES:: FINAL CTA */

body.light .cta_btn {
  filter: drop-shadow(0px 0px 20px var(--light-accent));
  color: var(--dark-font);
  background: var(--light-accent);
}

body.dark .cta_btn {
  filter: drop-shadow(0px 0px 20px var(--dark-accent));
  color: var(--light-font);
  background: var(--dark-accent);
}

/* THEME STYLES:: ABOUT PAGE */

body.light .about_hero_text h1 {
  color: var(--dark-font);
  text-shadow: -2px 2px 0 var(--light-accent), 2px 2px 0 var(--light-accent),
    2px -2px 0 var(--light-accent), -2px -2px 0 var(--light-accent);
}

body.dark .about_hero_text h1 {
  color: var(--light-font);
  text-shadow: -2px 2px 0 var(--dark-accent), 2px 2px 0 var(--dark-accent),
    2px -2px 0 var(--dark-accent), -2px -2px 0 var(--dark-accent);
}

body.light .about_hero_cta_btn.primary {
  background: var(--light-accent);
  color: var(--dark-font);
}

body.light .about_hero_cta_btn.secondary {
  border: 1px solid var(--light-accent);
}

body.dark .about_hero_cta_btn.primary {
  background: var(--dark-accent);
  color: var(--light-font);
}

body.dark .about_hero_cta_btn.secondary {
  border: 1px solid var(--dark-accent);
}

body.light .about_skills_card {
  background: linear-gradient(
    305.88deg,
    #f8b961 32.6%,
    rgba(253, 209, 148, 0.46) 100%
  ),
  linear-gradient(266.56deg, rgba(253, 209, 148, 0.46) 0%, #f8b961 70.57%);
}

body.dark .about_skills_card {
  background: linear-gradient(
    305.88deg,
    #07469e 32.6%,
    rgba(2, 46, 107, 0.46) 100%
  ),
  linear-gradient(266.56deg, rgba(2, 46, 107, 0.46) 0%, #07469e 70.57%);
}

/* THEME STYLES:: ABOUT PAGE */

body.light .contact_page{  
  background: var(--light-grad-alt);
}

body.dark .contact_page{  
  background: var(--dark-grad);
}

body.light .contact__cta{  
  background-color: var(--light-accent);
  box-shadow: 0px 0px 20px var(--light-accent);
}

body.dark .contact__cta{  
  background-color: var(--dark-accent);
  box-shadow: 0px 0px 20px var(--dark-accent);
}

body.light .contact__cta a {
  color: var(--dark-font);
}

body.dark .contact__cta a {
  color: var(--light-font);
}

body.light .contact_form > section a {
  border: 1px solid var(--light-accent);
}

body.light .contact_form > section a:hover {
  background-color: var(--light-accent);
  color: var(--dark-font);
}

body.dark .contact_form > section a {
  border: 1px solid var(--dark-accent);
}

body.dark .contact_form > section a:hover {
  background-color: var(--dark-accent);
  color: var(--light-font);
}

/* NAV STYLES */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 85%;
  height: 10vh;
  margin: auto;
}

.nav_logo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  flex: 2;
}

.nav_logo a {
  height: 100%;
  min-width: 90px;
  width: auto;
  padding: 1%;
  background-repeat: no-repeat;
  background-size: contain;
  background-origin: content-box;
}

.nav_links {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}

/* FOOTER STYLES */

footer {
  width: 100%;
  height: 15vh;
  padding: 0 12vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .footer__copyright {
  /* display: flex;
  align-items: center;
  height: 100%; */
  font-size: 20px;
}

footer .footer__links {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}

footer .footer__links a {
  width: 100%;
  margin: 0 27.5px;
}

footer .footer__icons {
  font-size: 2.25rem;
  display: flex;
  gap: 13%;
}

footer .footer__icons svg {
  cursor: pointer;
}

/* TEST STYLES */

.faq_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 75vw;
  margin: auto;
  padding-bottom: 48px;
}

.faq_wrap h2 {
  padding-top: 48px;
}

.faq_item {
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid black;
  padding: 24px 0;
}

.faq_item_align {
  align-items: center;
  display: flex;
  min-height: 10px;
  text-align: left;
  padding: 24px 0;
  transition: all 0.6s ease;
}

.faq_item_align_border {
  box-shadow: 0 1px 0 #000;
}

.faq_item_align h4 {
  margin-left: 8px;
  width: 100%;
}

.faq_icon {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  margin-left: auto;
  margin-right: 8px;
  transition: all 0.6s ease;
}

.faq_icon_rotate {
  transform: rotate(45deg);
}

.faq_answer_divider {
  padding: 36px 0;
  display: flex;
  align-items: center;
  transition: all 0.6s ease;
}

.faq_answer {
  margin-left: 8px;
  margin-right: 8px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s ease;
  text-align: left;
}
