@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600;700&family=Montserrat:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}
:root {
  --light-bg: #fafafa;
  --light-var1: #f9f1f0;
  --light-var2: #eaeaea;
  --light-accent: #550055;
  --light-grad-left: background: linear-gradient(305.88deg, #F8B961 32.6%, rgba(253, 209, 148, 0.46) 100%);
  --light-grad-right: background: linear-gradient(305.88deg, #F8B961 32.6%, rgba(253, 209, 148, 0.46) 100%), #FFFFFF;
  /* CHECK THE ABOVE GRADIENT ACTUALLY WORKS*/
  --light-font: #000000;
  --dark-bg: #060D0DFA;
  --dark-var1: #1C1F1F;
  --dark-var2: #323737;
  --dark-accent: #D6AD60;
  --dark-grad: background: linear-gradient(102.22deg, #140814 7.3%, rgba(17, 8, 13, 0.867217) 61.52%, rgba(16, 8, 9, 0.800412) 76.53%, rgba(27, 18, 6, 0.9) 90.77%);
  --dark-font: #FFFFFF;
}

h1 {
  font-weight: 700;
  font-size: 67.34px;
  letter-spacing: -1.5%;
  font-family: 'Comfortaa', cursive;
}

h2 {
  font-weight: 600;
  font-size: 50.52px;
  letter-spacing: -1.5%;
  font-family: 'Comfortaa', cursive;
}

h3 {
  font-weight: 500;
  font-size: 37.9px;
  letter-spacing: -1.5%;
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-weight: 500;
  font-size: 28.43px;
  letter-spacing: -1.5%;
  font-family: 'Montserrat', sans-serif;
}

h5 {
  font-weight: 500;
  font-size: 21.33px;
  letter-spacing: -1.5%;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -1.5%;
  font-family: 'Montserrat', sans-serif;
}

/* DEFAULT STYLES
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
*/
