.home__hero_wrap {
  max-width: 85%;
  height: 90vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.home__hero_wrap_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home__hero_wrap_left_text {
  max-width: 64%;
}

.home__hero_wrap_left_text_h5 {
  margin-bottom: 16px;
}

.home__hero_wrap_left_text_h1 {
  margin-bottom: 32px;
}

.home__hero_wrap_left_text_h3 {
  margin: 16px 0;
}

.home__hero_wrap_left_text_p {
  text-transform: capitalize;
  line-height: 1.5rem;
}

.home__hero_wrap_right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.home__hero_wrap_right img {
  width: 100%;
  height: auto;
}

.home__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 60px;
  gap: 25px;
  background-color: var(--light-accent);
  box-shadow: 0px 0px 20px var(--light-accent);
  border-radius: 40px;
  margin-top: 48px;
}

.home__cta a {
  color: var(--dark-font);
}
